.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f3f3f3; /* light page background (no dark) */
}

.login-card {
  width: 420px;
  padding: 35px 30px;
  border-radius: 16px;
  background: #e0a000; /* yellow card */
  box-shadow: 0 12px 28px rgba(0,0,0,0.25);
  text-align: center;
}

.title {
  background:(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  font-size: 28px;
  margin-bottom: 15px;
}

.subtitle {
  color: #000;
  margin-bottom: 25px;
  font-size: 16px;
}

form input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}

form button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: #111;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  opacity: 0.9;
}

.links {
  margin-top: 18px;
  font-size: 14px;
}

.links a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.links span {
  display: block;
  margin-top: 10px;
}

